<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>cantact</title>
<style>
h1{font-size: 30px;
color:green;
}
body{
 background-color:pink;}
 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
 
}
</style>
</head>
<body>
<img src="https://static.vecteezy.com/system/resources/previews/000/671/125/non_2x/vector-flat-customer-service-support-agent-with-orbiting-icons.jpg" alt="contact" class="center">
<div align="center">
<h1> Contact</h1>
<table>

<tr>
<td>Enter Frist Name</td>
<td ><input type="text" name="name"></input></td>
</tr>
</table>
<br>
<table>
<tr>
<td>Enter last Name</td>
<td ><input type="text" name="name"></input></td>
</tr>
</table>
<br>
<table>
<tr>
<td>Enter mobileNo</td>
<td ><input type="number" name="mobileNo"></input></td>
</tr>
</table>
<br>
<button type = "submit" class="btn btn-primary">
   save
   </button>
  </div>



</body>
</html>