<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Logout</title>
<style>
 h1{color:red;
  }
 p{
 color: MediumSeaGreen;
 font-size: 30px;
 }
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
</style>
</head>
<body>

<h1 align=center>Logout Button</h1>
<p align=center> Successfully completed your logout</p>


<img src="https://us.123rf.com/450wm/faysalfarhan/faysalfarhan1803/faysalfarhan180301276/98172322-logout-isolated-on-3d-white-round-button-abstract-illustration.jpg?ver=6" alt="logout" class="center">
<p align=center>Thank you for your visiting this logout page. </p>
</body>
</html>